.button {
    background-color: white;
    border-color:white;
    color:black;
  }
  
  .button:hover,
  .button:active {
    color: black;
  }
  
  .button span {
    margin: 0 0.5rem;
  }
  
  .badge {
    background-color:white;
    border-radius: 30px;
    padding: 0.15rem 1.25rem;
    color: #1d1d1d;
  }